body{
  font-family: 'Roboto';
}

#top-header {
  .navbar{
      margin-bottom: 0;
      .navbar-nav{
          li{
            a{
              padding: 10px 5px;
            }
          }
      }

  }

  .toolbar-separator{
    height: 64px;
    width: 1px;
    background: rgba(0,0,0,.12);
  }

  a{
    color: #848484;
  }
}

#content-wrap {
    background: rgba(255,255,255,1);
    padding: 20px;
}


.navbar-landing{
  .nav-effect{
    li{

        a{
          padding-top: 5px;
          padding-bottom: 5px;

          color: rgba(0,0,0,1);

          position: relative;
          display: inline-block;
          outline: none;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
          text-shadow: 0 0 1px rgba(255,255,255,0.3);


          &:after{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #012147;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            transform: translateY(10px);
          }
        }

        &:not(.active){
          a{

            &:hover, &:focus{
              background-color: transparent;
              &:after{
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
              }
            }


        }


      }
      &.active {
        a{
          color: #012147;
          &:after{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
          }
          &:hover, &:focus{
            background-color: transparent;
          }
        }

      }
    }
  }



  .navbar-toggle{
    border :none;
    color: #012147;
  }
}

.landing-title{
    font-size: 40px;
    text-transform: uppercase;
    color: #012147;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .landing-line{
        width: 60px;
        height: 1px;
        background: rgba(0,0,0,0.2);
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }



}


footer{
  padding-bottom: 30px;
  padding-top: 30px;

  .navbar-landing{
    li{
      a{
        color: #848484;
      }

    }

    .navbar-nav.navbar-right{
      li{
        a{
          padding: 10px 5px;
        }
      }
    }
  }
}

#dynamic-content {
   min-height: 500px;
}

#landing-services{
    .slick-slide{
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .item{
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;



        .item-content{
            border: 1px solid rgba(0,0,0,0.2);
            padding: 5px;
            margin-top: -60px;
            padding-top : 60px;
            min-height: 300px;
            color: rgba(0,0,0,0.8);
        }

        .item-divider{
            margin-right: auto;
            margin-left: auto;
            width: 50px;
            height: 1px;
            background: rgba(0,0,0,0.4);
            margin-bottom: 10px;
        }
    }
}

.container-content{
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  padding: 10px 10px 50px 10px;
}

a.read-more{
   font-weight: bold;
}
button{
  &.read-more{
      padding-left: 50px;
      padding-right: 50px;
      text-transform: uppercase;
      border-radius : 3px;
  }
}




